<div class="container text-center">
  <div>
    <div class="d-flex">
      <div class="titulo col-5 mx-auto rounded-pill">
        <h1>Métodos de pago</h1>
      </div>
      <div class="titulo col-5 mx-auto rounded-pill">
        <h1>Evento</h1>
      </div>
    </div>
    <div>
      <div class="d-flex clarito">
        <div id="clarito" class="col-5 mx-auto">
          <div class="oscurito">
            <img width="10%" src="assets/img/visa.png" alt="" />
            <img
              width="10%"
              src="assets/img/MasterCard-Logo-1990.png"
              alt=""
            />
            <p class="col-9 mx-auto">
              <mat-form-field class="example-full-width">
                <mat-label>Numero de la tarjeta</mat-label>
                <input [formControl]="numeroTarjeta" matInput value="" />
              </mat-form-field>
            </p>
            <p class="col-9 mx-auto">
              <mat-form-field class="example-full-width">
                <mat-label>Titular de la tarjeta</mat-label>
                <input [formControl]="titularTarjeta" matInput value="" />
              </mat-form-field>
            </p>
            <div class="d-flex col-9 mx-auto">
              <mat-form-field class="example-full-width me-3">
                <mat-label>Fecha de caducidad</mat-label>
                <input matInput [formControl]="fechaCaducidad" pattern="\d{1,2}/\d{2}" value="" />
              </mat-form-field>
              <mat-form-field class="example-full-width ms-3">
                <mat-label>CVV</mat-label>
                <input matInput [formControl]="cvv" value="" />
              </mat-form-field>
            </div>
          </div>
          <div class="oscurito">
            <img width="10%" src="assets/img/paypal(1).png" alt="" />
          </div>
          <div class="oscurito">
            <img width="20%" src="assets/img/Bizum.png" alt="" />
          </div>
        </div>
        <div class="col-5 mx-auto">
          <div class="oscurito">
            <h2>Carrera nocturna Sevilla 2022</h2>
            <img width="50%" src="assets/img/Cartel_Nocturna_2022.jpg" alt="">
            <div class="d-flex">
                <h2 class="mx-auto">DNI</h2>
                <h2 class="mx-auto">Importe</h2>
            </div>
            <div class="d-flex">
                <span class="mx-auto">12345678-L</span>
                <span class="mx-auto">7,50€</span>
            </div>
            <div>

            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      name="botones"
      id="buttons"
      class="col-12 d-flex justify-content-center"
    >
      <button [disabled]="numeroTarjeta.invalid || titularTarjeta.invalid || fechaCaducidad.invalid || cvv.invalid" class="me-5" mat-raised-button color="primary">Pagar</button>
      <button class="ms-5" mat-raised-button color="warn">Cancelar</button>
    </div>
  </div>
</div>
