#clarito{
  background-color: #DBE8F0;
  padding: 1%;
  border-radius: 50px;
}


.container{
  margin-bottom: 4%;
}

.oscurito{
  background-color: #AECCDF;
  border-radius: 50px;
  margin: 1%;
  padding: 1%;
}

.titulo{
    background-color: #AECCDF; 
    margin: 5%;
  }

.example-form {
  margin: auto;
  width: 70%;
}

.example-full-width {
  width: 100%;
}

h1{
  margin: auto;
  padding: 3%;
}

p{
  margin: 5%;
}

button{
  margin-top: 3%;
}

img{
  margin: 3%;
}
