<div class="container">
    <h1 class="text-center py-2 my-4 w-75 mx-auto">Eventos</h1>
    <div class="row elemento w-75 mx-auto">
        <mat-card class="example-card my-4 mx-auto" *ngFor="let evento of eventos">
            <mat-card-header>
                <mat-card-title-group>
                    <mat-card-title>{{evento.nombreEvento}}</mat-card-title>
                    <mat-card-subtitle>{{evento.ciudad}}</mat-card-subtitle>
                    <mat-card-subtitle>{{evento.fecha}}</mat-card-subtitle>
                    <img mat-card-md-image src={{evento.img}}
                    alt="Image of a Shiba Inu">
                    <mat-card-subtitle>{{evento.descripcion}}</mat-card-subtitle>
                </mat-card-title-group>
            </mat-card-header>
            <div class="row">                       

                <mat-card-content class="col-6 mt-2 mx-auto text-center">
                    <button mat-raised-button color="primary" class="me-2" onclick="location.href='/event-register';"> Inscribirse</button>
                    <button mat-raised-button color="warn" >Ver evento</button>
                </mat-card-content>
            </div>
        </mat-card>
    </div>
</div>