* {
    text-align: center;
}

.container {
    margin: 5% auto;
}

#titulo {
    background-color: lightblue;
    border-radius: 10px;
    padding: 5px 10px;
}

.labeles {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#imgperfil {
    width: 30%;
    margin: auto;
}

input {
    margin: 2%;
    border: solid 3px rgb(83,104,148);
    border-radius: 5px;
    height: 100%;
}

label {
    margin: 2%;
}

button {
    margin-top: 5%;
}
