<nav class="navbar navbar-expand-sm navbar-light bg-danger">
  <div class="container-fluid">
    <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse row" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto mb-2 mb-lg-0 col-sm-8 col-12 text-center">
        <li class="nav-item w-25 text-center mx-auto">
          <a href="#" class="btn btn-link nav-link text-light" tabindex="0" aria-current="page">Listado de eventos</a>
        </li>
      </ul>
    </div>
  </div>
</nav>