<div class="container contenedor">
    <div class="row">
        <div class="col">
            <div class="row">
               
            <h1 class="color rounded-pill p-1 text-center">FORMULARIO DE REGISTRO</h1>
            
                
            <form (ngSubmit)="onSubmit()"  #personForm="ngForm" class="mt-4" >
                <p class="d-flex">
                    <mat-form-field required>
                      <mat-label>Nombre</mat-label>
                      <input class="mt" type="text" matInput required   [formControl]="nombre"/>
                      <mat-error *ngIf="nombre.invalid">{{getErrorMessagenombre()}}</mat-error>
                    </mat-form-field>
                    
                   
                    <mat-form-field class="rounded ms-2">
                      <mat-label>Apellidos</mat-label>
                      <input class="mt" type="text" matInput required [formControl]="apellidos"/>
                      <mat-error *ngIf="apellidos.invalid">{{getErrorMessageapellidos()}}</mat-error>
                    </mat-form-field>
                </p>
                
                <p class="d-flex mt-4">
                    <mat-form-field  class="">
                      <mat-label>Correo electronico</mat-label>
                      <input class="mt" type="text" matInput required   [formControl]="correo"/>
                      <mat-error *ngIf="correo.invalid">{{getErrorMessagecorreo()}}</mat-error>
                    </mat-form-field>
                </p>
                <p class="d-flex mt-4">
                    <mat-form-field class="">
                      <mat-label>Fecha de nacimiento</mat-label>
                      <input class="mt" type="text" matInput required    [formControl]="fecha"/>
                      <mat-error *ngIf="fecha.invalid">{{getErrorMessagefecha()}}</mat-error>
                    </mat-form-field>
                </p>

                <h3 class="color rounded-pill col-6 mt-4 text-center">SUBIR IMAGEN DEL DNI</h3>
                
                  <div class="form-check col-5 mt-4">
                    <mat-checkbox class="example-margin" color="primary">Check condiciones de uso</mat-checkbox>
                  </div>
                  <div class="form-check col-5">
                    
                  <mat-checkbox class="example-margin" color="primary">Usar Datos para Crear Cuenta</mat-checkbox>
                    
                  </div>
                
                  <div class="col-12 col-md-8 mx-auto justify-content-around d-flex mb-4 mt-4">
                    <button type="reset" mat-raised-button color="warn"  id="superacion">Resetear</button>

                    <button mat-raised-button type="submit" class="btn btn-success" [disabled]="(fecha.invalid || correo.invalid || nombre.invalid || apellidos.invalid)" color="primary" data-bs-toggle="modal" 
                    data-bs-target="#staticBackdrop">
                    Aceptar
                  </button>
                
                <button type="button" mat-raised-button color="warn" onclick="location.href='./';">Cancelar</button>
              </div>
            </form>
        </div>

        </div>

        <div class="col">
            
            <h1 class="color rounded-pill p-1 text-center">CARRERA NOCTURNA SEVILLA 2022</h1>
            
            <div class="color position-relative evento text-center rounded mb-4 mt-4">
                
                <img src="assets/img/evento.png" class="img-thumbnail position-absolute top-50 start-50 translate-middle" alt="evento">
            </div>

        </div>
        
    </div>

   
    <div 
      
      class="modal fade"
      id="staticBackdrop"
      data-bs-backdrop="static"
      data-bs-keyboard="false"
      tabindex="-1"
      aria-labelledby="staticBackdropLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog ">
        <div class="modal-content text-center color">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="staticBackdropLabel">Por favor rellene los siguientes campos para la creación de su cuenta</h1>
          </div>
          <div class="modal-body">

            <form (ngSubmit)="onSubmit()"  #personForm="ngForm">
              <div class="mb-3 text-center">
                <mat-form-field class="">
                  <mat-label>Correo electronico</mat-label>
                  <input class="mt" matInput required  [formControl]="correo"/>
                  <mat-error *ngIf="correo.invalid">{{getErrorMessagecorreo()}}</mat-error>
                </mat-form-field>
              </div>

              <div class="mb-3 text-center">
                <mat-form-field class="">
                  <mat-label>Contraseña</mat-label>
                  <input class="mt" matInput required  [formControl]="contrasena1" />
                  <mat-error *ngIf="contrasena1.invalid">{{getErrorMessagecontra1()}}</mat-error>
                </mat-form-field>
              </div>

              <div class="mb-3 text-center">
                <mat-form-field class="">
                  <mat-label>Repita su contraseña</mat-label>
                  <input class="mt" matInput required  [formControl]="contrasena2" />
                  <mat-error *ngIf="contrasena2.invalid">{{getErrorMessagecontra2()}}</mat-error>
                </mat-form-field>
              </div>

            </form>

          </div>
          <div class="modal-footer text-center">
            <div class="col"><button onclick="location.href='./pay-method';" mat-raised-button color="primary">Aceptar</button></div>
            <div class="col"><button mat-raised-button color="warn" data-bs-dismiss="modal">Cancelar</button>
            </div>
            
          </div>
        </div>
      </div>
    </div>
</div>