<div class="container text-center">
    <div class="row">
        <div class="col">
            <div class="color rounded-pill">
                <h1>FORMULARIO DE REGISTRO</h1>
            </div>
            <form>
                <p>
                    <label for="nombre">Nombre</label>
                    <input type="text">
                    <label for="apellidos">Apellidos</label>
                    <input type="text">
                </p>
                <p>
                    <label for="correo">Correo electronico</label>
                    <input type="email">
                </p>
                <p>
                    <label for="fecha">Fecha de nacimiento</label>
                    <input type="date">
                </p>
                <div class="color rounded-pill">
                    <h3>SUBIR IMAGEN DEL DNI</h3>
                </div>
                <p>
                    <input type="checkbox"><label>Check condiciones de uso</label>
                </p>
                <p>
                    <input type="checkbox"><label>Usar Datos para Crear Cuenta</label>
                </p>
                <p>
                    <button>Resetear</button>
                    <button>Aceptar</button>
                    <button>Cancelar</button>
                </p>
            </form>
            

        </div>

        <div class="col">
            <div class="color rounded-pill">
                <h1>Evento "Carrera nocturna Sevilla 2022" Fecha/hora</h1>
            </div>
        </div>
    </div>
</div>