img {
    width: 25%;
    margin: auto;
    margin-bottom: 2%;
}

footer {
    background-color: rgb(51,64,91);
    color: white;
    text-align: center;
}

footer div {
    margin-top: 1%;
}

svg {
    margin-left: 10px;
    margin-right: 10px;
}