<div>
  <form class="example-form">
    
  <h1>Modificar contraseña</h1>
  <p>
   <mat-form-field class="example-full-width">
      <mat-label>contraseña actual</mat-label>
      <input matInput placeholder="Ej. Example1234" value="">
    </mat-form-field>
  </p>
  <p>
    <mat-form-field class="example-full-width">
      <mat-label>contraseña actual</mat-label>
      <input matInput placeholder="Ej. Example1234" value="">
    </mat-form-field>
  </p>
  <p>
    <mat-form-field class="example-full-width">
      <mat-label>contraseña actual</mat-label>
      <input matInput placeholder="Ej. Example1234" value="">
    </mat-form-field>
  </p>
</form>
</div>