<div name="contenedor" class="container">
  <form class="example-form">
    <div name="titulo">
      <h1 id="titulo" class="w-75 mx-auto">Modificar contraseña</h1>
    </div>
    <div name="formulario" class="w-75 mx-auto">
      <p>
        <mat-form-field class="example-full-width">
          <mat-label>Introduce la contraseña actual</mat-label>
          <input matInput placeholder="" value="" />
        </mat-form-field>
      </p>
      <p>
        <mat-form-field class="example-full-width">
          <mat-label>Introduce la nueva contraseña</mat-label>
          <input matInput placeholder="" value="" />
        </mat-form-field>
      </p>
      <p>
        <mat-form-field class="example-full-width">
          <mat-label>Confirma la nueva contraseña</mat-label>
          <input matInput placeholder="" value="" />
        </mat-form-field>
      </p>
    </div>
    <div name="botones" id="buttons">
      <button mat-raised-button color="primary">Aceptar</button>
      <button mat-raised-button color="warn">Cancelar</button>
    </div>
  </form>
</div>
