<div name="contenedor" class="container">
  <div name="titulo">
    <h1 id="titulo" class="w-75 mx-auto">Modificar contraseña</h1>
  </div>
  <form #passwordForm="ngForm" class="example-form">
    <div name="formulario" class="w-75 mx-auto">
      <p>
        <mat-form-field class="example-full-width">
          <mat-label>Introduce la contraseña actual</mat-label>
          <input matInput [formControl]="pActual" placeholder="" value="" />
        </mat-form-field>
      </p>
      <p>
        <mat-form-field class="example-full-width">
          <mat-label>Introduce la nueva contraseña</mat-label>
          <input matInput [formControl]="pActual" placeholder="" value="" />
        </mat-form-field>
      </p>
      <p>
        <mat-form-field class="example-full-width">
          <mat-label>Confirma la nueva contraseña</mat-label>
          <input matInput [formControl]="pActual" placeholder="" value="" />
        </mat-form-field>
      </p>
    </div>
    <div class="row">
      <div name="botones" id="buttons" class="col-12 d-flex justify-content-center">
        <button type="button" type="submit" class="me-3" mat-raised-button color="primary">Aceptar</button>
        <button class="ms-3"mat-raised-button color="warn">Cancelar</button>
      </div>
    </div>
    
  </form>
</div>
