<div class="row principal">
    <mat-card class="example-card">
        <mat-card-content>
            <form class="example-form col-12 mx-auto" (ngSubmit)="onSubmit" #userForm='ngForm'>
                <mat-form-field class="example-full-width">
                    <mat-label>Usuario</mat-label>
                    <input 
                    matInput 
                    placeholder="Usuario" 
                    id="username"
                    name="username"
                    #username="ngModel"
                    [(ngModel)]="model.username"
                    required/>
                </mat-form-field>
        
                <mat-form-field class="example-full-width">
                    <mat-label>Contraseña</mat-label>
                    <input 
                    matInput 
                    placeholder="Password" 
                    [type]="hide ? 'password' : 'text'" 
                    formControlName="password" 
                    id="password"
                    name="password"
                    password="ngModel"
                    required
                    [(ngModel)]="model.password"
                    />
                    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </mat-form-field>
                <div class="row">
                    <button class="col-3 mx-auto width:50%" mat-raised-button color="primary" id="registro" (click)="checkPassword()" >Enviar</button>
                    <button class="col-3 mx-auto width:50%" mat-raised-button color="warn">Cancelar</button>
                </div>
            </form>  
        </mat-card-content>
    </mat-card>
</div>