<div class="row">
    <form class="example-form col-12 mx-auto">
        <mat-form-field class="example-full-width">
            <mat-label>Usuario</mat-label>
            <input matInput placeholder="Usuario" value="Usuario">
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Contraseña</mat-label>
            <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'" formControlName="password"
                required>
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </mat-form-field>
    </form>
</div>

<!--[formGroup]="FormGroup"-->