.example-form {
  min-width: 150px;
  max-width: 400px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.example-card {
max-width: 450px;
margin: 10px;
margin: auto;

}

.principal {
height: 60vh;

}

#divBotones {
margin: auto;
}

button {
margin: auto;
}