.example-form {
    min-width: 150px;
    max-width: 400px;
    width: 100%;
  }
  
.example-full-width {
    width: 100%;
}

.contenedorLogin {
  margin: auto;
}

.example-card {
  max-width: 450px;
  margin: 10px;
}

mat-card-subtitle {
  font-size: 18px;
}
  
mat-card-title {
  color: green;
  font-size: 55px;
  justify-content: center;
  display: flex;
}